body {
  font-family: Helvetica, Arial, sans-serif;
}

canvas {
  height: auto;
  max-width: 100%;
}

@media screen and (max-width: 750px) {
  .container {
    width: 100%;
  }
}

.select-dropdown {
  overflow-y: auto !important;
}

#mySpan.lever::after {
  background-color: #424242;
}

.dropdown-content {
  max-height: 550px;
}

.bold-text {
  font-weight: bolder;
}

.my-red-text {
  color: #e82727;
}
